<!--네비게이션바에 메뉴선정-->
<span class="sr-only">Navigation:</span>
<ul>
  
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->    
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(9)" onmouseout="javascript:spread(9)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->       
          <a id="_drawer--opened" href="/about/" class="sidebar-nav-item">
            About
          </a>
       </div>
      </li>
    
      
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(10)" onmouseout="javascript:spread(10)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
          <a href="/project/" class="sidebar-nav-item">
            Project
          </a>       
       </div>
      </li>
        
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(11)" onmouseout="javascript:spread(11)">
            <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
             <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
             <!-- spread-btn class는 my-style.scss에 추가합니다. -->

            <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
              <span id="spread-icon-11" class="material-icons">arrow_right</span>
            </button>
            
            <a href="/study/" class="sidebar-nav-item ">
                Study
            </a>
    
            <div id="submenu-11" class="menu-wrapper submenu hide">
                <ul style="list-style: none;">
                
                <li>
                    <a class="sidebar-nav-item" href="/papers/">
                    논문
                    </a>
                </li>
                
                <li>
                    <a class="sidebar-nav-item" href="/library/">
                    라이브러리
                    </a>
                </li>
                
                <li>
                    <a class="sidebar-nav-item" href="/mldl/">
                    머신러닝/딥러닝
                    </a>
                </li>
                
                <li>
                    <a class="sidebar-nav-item" href="/codingtest/">
                    코딩테스트 연습
                    </a>
                </li>
                
                <li>
                    <a class="sidebar-nav-item" href="/python/">
                    파이썬
                    </a>
                </li>
                
                <li>
                    <a class="sidebar-nav-item" href="/study-etc/">
                    공부 이것저것
                    </a>
                </li>
                </ul>
            </div>  
        </div>
      </li>
    
      
      <!-- 메뉴 각각을 식별하기위한 인덱스 -->
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(12)" onmouseout="javascript:spread(12)">
           <!-- submenu 변수는 _config.yml 에서 추가합니다 -->
          
            <!-- spread 함수는 js 파일로 작성하고 my-head.html에 추가합니다 -->
            <!-- spread-btn class는 my-style.scss에 추가합니다. -->
            <button class="spread-btn">
                <!-- marterial stylesheet를 my-head.html에 추가합니다 -->
              <span id="spread-icon-12" class="material-icons">arrow_right</span>
            </button>
          
            <a href="/blog/" class="sidebar-nav-item">
                Blog
            </a>
            
            <div id="submenu-12" class="menu-wrapper submenu hide">
                <ul style="list-style: none;">

                <li>
                    <a class="sidebar-nav-item" href="/daily/">
                    일상/후기/경험
                    </a>
                </li>

                <li>
                    <a class="sidebar-nav-item" href="/travel/">
                    여행
                    </a>
                </li>

                <li>
                    <a class="sidebar-nav-item" href="/aiblog/">
                    AI블로그
                    </a>
                </li>

                <li>
                    <a class="sidebar-nav-item" href="/blog-etc/">
                    blog-etc
                    </a>
                </li>
                
                <li>
                    <a class="sidebar-nav-item" href="/githubpages/">
                    GithubPages
                    </a>
                </li>
                
                </ul>
            </div>
          
       </div>
      </li>
    
</ul>