---
---
{% capture include_to_scssify %}{% include styles/style.scss %}{% endcapture %}{% include header.txt %}{{ include_to_scssify | scssify }}



.page-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-button > div {
    max-width: 50%;
  }

.page-button .button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      background-color:#ffffff;
      border-radius:16px;
      border:3px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-family:Arial;
      font-size:18px;
      font-weight:bold;
      padding:6px 100px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
  }

.page-button .button:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
      background-color:#f6f6f6;
  }

.page-button .button:active {
    position:relative;
      top:1px;
    }

.page-button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

.page-button > div {
        max-width: 50%;
      }

.page-button .button {
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        background-color:#ffffff;
        border-radius:16px;
        border:3px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#666666;
        font-family:Arial;
        font-size:18px;
        font-weight:bold;
        padding:6px 90px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
}

.page-button .button:hover {
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
          background-color:#f6f6f6;
}

.page-button .button:active {
        position:relative;
          top:1px;
}

article h1{
    font-size: 2.3rem !important;
}
